@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

body, html {
  padding: 0;
  margin: 0;
}

.content {
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #20292d;
  color: #ffffff
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 0;

  text-align: center;
  font-size: 60px;
}

.subscript {
  margin-top: 15px;

  text-align: center;
  font-size: 22px;
  color: #a7a9ac;
}

.minor-title {
  text-align: center;
  font-size: 30px;
}


.information {
  padding-top: 20px;
  padding-left: 3%;
  padding-right: 3%;

  /* grid stuff*/
  display: grid;
  grid-template-columns: [large] 3fr [margin] 15px [small] 2fr [end] 0;
  grid-template-rows: [large] 5fr [margin] 15px [small] 2fr [end] 0;
}

.info-block {

  background-color: #ffffff;
  color: #20292d;

  border-radius: 6px;
  padding-left: 5%;
  padding-right: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.info {
  font-size: 20px;
  text-align: left;
  color: #20292d;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.minor-info {
  font-size: 20px;
  text-align: left;
  color: #ffffff;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.main-info {
  grid-column-start: large;
  grid-column-end: margin;
  grid-row-start: large;

  padding-bottom: 30px;
}

.life-info {
  grid-column-start: small;
  grid-row-start: large;
  grid-row-end: margin;

  padding-bottom: 30px;
}

.interact-info {
  grid-column-start: large;
  grid-column-end: end;
  grid-row-start: small;
  grid-row-end: end;

  padding-bottom: 35px;
}

.image {
  object-fit: cover;
  width: 90%;
  border: solid 4px;
  border-radius: 25px;
  border-color: #cfcfff;
  padding: 4px;
  margin-top: 10px;
}

.minor-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 50%;
  border: solid 4px;
  border-radius: 25px;
  border-color: #cfcfff;
  padding: 4px;
  margin-top: 10px;
}

a, a:link, a:visited {
  text-decoration: none !important;
  color: #0074bd !important;
}

.pages {
  display: flex;
  justify-content: center;
}

.links {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.page {
  display: block;
}

.center-text {
  text-align: center;
}
