@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

body {
  background-color: #131313;
  color: ghostwhite;
  font-family: ubuntu;
}

.title {
    background-color: #274568;
    padding: 5px;

}

h1 {
  font-size: 50px;
  text-align: center;

}

h3 {
  font-size: 30px;
  background-color: #39618e;
  background-image: linear-gradient(to right, #39618e , #131313);
  padding: 8px;

}

h4 {
  font-size: 24px;

}

p {
  font-size: 20px;

}

ol {
  font-size: 20px;

}


ul {
  font-size: 20px;
  list-style-type: circle;

}
